{% extends "base.html.twig" %}

{% block content %}

<main id="homepage">
    <section>
        <img src="../assets/img/home_background_league.png">
        <h2> TOUT SUR LA LEAGUE </h2>
        <p> Les players, les teams et l'actu des matchs </p>
    </section>
    <section>
        <h3> LA TEAM À LA UNE </h3>
        <article>
            <img src="{{ featuredTeam.logo.url }}" alt=" {{ featuredTeam.logo.alt }}">
            <h4>{{ featuredTeam.name }}</h4>
            <p>{{ featuredTeam.players }}</p>
        </article>
        <h3> LES PLAYERS À LA UNE </h3>
        <article>
            <img src="{{ featuredTeamPlayers.logo }}" alt="Logo de {{ featuredTeamPlayers }}">
            <h4>{{ featuredTeamPlayers.players }}</h4>

        </article>
    </section>
</main>

{% endblock %}