{% extends "base.html.twig" %}

{% block content %}

    <main>
        <article class="teams-grid">
            {% for t in teams %}
                <section class="team-card">
                    <div class="team-logo">
                        <img src="{{ t.logo.url }}" alt="{{ t.logo.alt }}" class="team-logo-img">
                    </div>
                    <div>
                        <h3 class="team-name">{{ t.team.name }}</h3>
                        <p class="team-description">{{ t.team.description }}</p>
                    </div>
                    <button class="team-button">DÉCOUVREZ {{ t.team.name }}</button>
                </section>
            {% endfor %}
        </article>
    </main>

{% endblock %}