{% extends "base.html.twig" %}

{% block content %}

    <main>
        <article class="teams-grid">
            {% for team in teams %}
                <section class="team-card">
                    <div class="team-logo">
                        {% for media in medias %}
                            <img src="{{ media.url }}" alt="{{ media.alt }}" class="team-logo-img">
                        {% endfor %}
                    </div>
                    <div>
                        <h3 class="team-name">{{ team.name }}</h3>
                        <p class="team-description">{{ team.description }}</p>
                    </div>
                    <button class="team-button">DÉCOUVREZ {{ team.name }}</button>
                </section>
            {% endfor %}
        </article>
    </main>

{% endblock %}