{% extends "base.html.twig" %}

{% block content %}

 <main>
        <article class="team-article">
            <h3 class="team-title">{{ team.name }}</h3>
            
            {% for p in players %}
                <section class="teamplayer-card">
                    <div class="teamplayer-img">
                        <img src="{{ p.logo.url }}" alt="{{ p.logo.alt }}" class="teamplayer-logo-img">
                    </div>
                    <div>
                        <p class="teamplayer-description">{{ p.player.nickname }}</p>
                    </div>
                    <button class="team-button">DÉCOUVREZ {{ p.player.nickname }}</button>
                </section>
            {% endfor %}
        </article>
    </main>

{% endblock %}